* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-font: "Josefin Sans", sans-serif;

    --bg-light: hsl(236, 33%, 92%);
    --bg-task-light: hsl(0, 0%, 98%);
    --primary-text-color-light: hsl(235, 19%, 35%);
    --secondary-text-color-light:hsl(236, 9%, 61%);
    --complete-task-light: hsl(233, 11%, 84%);

    --bg-dark: hsl(235, 21%, 11%);
    --bg-task-dark: hsl(235, 24%, 19%);
    --primary-text-color-dark: hsl(234, 39%, 85%);
    --secondary-text-color-dark: hsl(234, 11%, 52%);
    --complete-task-dark: hsl(233, 14%, 35%);

    --active-color: hsl(220, 98%, 61%);
}

html {
    font-size: 62.5%;
    font-family: var(--primary-font);
}

body {
    width: 100%;
    height: auto;
}

.todo-app {
    width: 100%;
    height: auto;
    color: var(--secondary-text-color-light);
    background-color: var(--bg-light);
}

.todo-app__top-container {
    height: 40vh;
    background-image: url('../../../images/bg-mobile-light.jpg');
}

.todo-app__top-container div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    padding: 60px 20px;
    color: hsl(0, 0%, 98%);
}

.todo-app__top-container,
.todo-app__theme-btn,
.todo-app__cross-btn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.todo-app__title {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
}

.todo-app__theme-btn {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    background-image: url('../../../images/icon-moon.svg');
    transition: background-image, 0.3s;
}

.todo-app__main-container {
    position: relative;
    width: 100%;
    height: 600px;
}

.todo-app__task-container {
    position: absolute;
    top: -100px;
    width: 100%;
    height: auto;
    padding: 0 20px;
}

.todo-app__tasks-list {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 100%;
    height: auto;
    margin: 20px 0 1px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    background-color: var(--bg-light);
}

.todo-app__new-task {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 5px;
    background-color: var(--bg-task-light);
}

.todo-app__new-task input {
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    font-weight: 400;
}

.todo-app__new-task input:focus {
    outline: none;
    caret-color: var(--active-color);
}

.todo-app__new-task--task {
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-radius: 0;
    color: var(--primary-text-color-light);
}

.todo-app__new-task--status {
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 0 0 5px 5px;
}

.todo-app__new-task--filter {
    justify-content: center;
    gap: 20px;
    font-weight: 800;
}

.todo-app__drag-drop {
    margin-top: 30px;
    text-align: center;
    font-size: 1.4rem;
}

.todo-app__check-btn {
    display: inline-block;
    justify-self: start;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    border: var(--secondary-text-color-light) 0.5px solid;
    border-radius: 50%;
    overflow: hidden;
}

.todo-app__cross-btn {
    display: inline-block;
    justify-self: end;
    width: 15px;
    height: 15px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PHBhdGggZmlsbD0iIzQ5NEM2QiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTYuOTcgMGwuNzA4LjcwN0w5LjU0NiA4Ljg0bDguMTMyIDguMTMyLS43MDcuNzA3LTguMTMyLTguMTMyLTguMTMyIDguMTMyTDAgMTYuOTdsOC4xMzItOC4xMzJMMCAuNzA3LjcwNyAwIDguODQgOC4xMzIgMTYuOTcxIDB6Ii8+PC9zdmc+');
}

.todo-app__check-btn:hover,
.todo-app__cross-btn:hover {
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 20px;
    background-color: var(--bg-light);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.innactive {
    display: none;
}

/* Dark theme */
body.dark-theme {
    background-color: var(--bg-dark);
}

.dark-theme .todo-app {
    background-color: var(--bg-dark);
}

.dark-theme .todo-app__top-container {
    background-image: url('../../../images/bg-mobile-dark.jpg'); 
}

.dark-theme .todo-app__theme-btn {
    background-image: url('../../../images/icon-sun.svg');
}

.dark-theme .todo-app__tasks-list {
    background-color: #36384e;
}

.dark-theme .todo-app__new-task {
    background-color: var(--bg-task-dark);
}

.dark-theme .todo-app__new-task input {
    color: var(--primary-text-color-dark);
}

.dark-theme .todo-app__new-task input::placeholder {
    color: var(--secondary-text-color-dark);
}

.dark-theme .todo-app__new-task input:focus {
    color: var(--primary-text-color-dark);
}

.dark-theme .todo-app__new-task--task {
    color: var(--primary-text-color-dark);
}

.dark-theme .todo-app__new-task--status {
    color: var(--complete-task-dark);
}

.dark-theme .todo-app__check-btn {
    border-color: #494C6B;
}

.dark-theme .todo-app__new-task--filter {
    color: var(--secondary-text-color-dark);
}

.dark-theme .todo-app__drag-drop {
    color: var(--secondary-text-color-dark);
}

.dark-theme .footer {
    color: var(--primary-text-color-dark);
    background-color: var(--bg-dark);
}

@media(min-width: 800px) {

    .todo-app {
        display: flex;
        flex-direction: column;
    }

    .todo-app__top-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../../../images/bg-desktop-light.jpg');
    }

    .todo-app__top-container div {
        max-width: 650px;
        max-height: 150px;   
    }

    .todo-app__title {
        font-size: 4rem;
    }

    .todo-app__main-container {
        max-width: 650px;
        align-self: center;
    }

    .todo-app__new-task {
        height: 60px;
        font-size: 1.6rem;
    }

    .todo-app__new-task input {
        font-size: 1.6rem;
    }

    .todo-app__theme-btn:hover {
        cursor: pointer;
    }

    .attribution {
        font-size: 1.4rem;
    }

    .dark-theme .todo-app__top-container {
        background-image: url('../../../images/bg-desktop-dark.jpg');
    }
}